@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="col-12 mb-3">
    <div class="row">
        <div class="border-bottom col-3 ml-auto mr-auto text-center">
            <h2>تازه ترین مقالات</h2>
        </div>
    </div>
</div>
@foreach (var item in Model.Articles)
{
    <div class="col-4 mb-2">
        <div class="card">
            <img src="~/images/@item.Image" class="card-img-top" alt="@item.ImageAlt">
            <div class="card-body">
                <h5 class="card-title">@item.ImageTitle</h5>
                <p class="card-text">
                    @item.ShortDescription
                </p>
                <a asp-page="./ArticleDetails" asp-route-id="@item.Id" class="btn btn-info">ادامه مطلب</a>
            </div>
        </div>
    </div>
}
